.header {
    font-size:40px;
    padding: 5px;
    text-align:center;
}

.header:hover{
    color: #EB6536;
}

.dm .dm_screen{
    position:relative; 
    height: 600px;
    background-color:floralwhite;
    border-radius: 10px;
    z-index: -1;
}


.input{
    margin-top : 10px;
    margin-bottom: 10px;
}

.shoot, .clear{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Mode Style */
.modal-dialog{
    width: 650px;
    margin: 150px auto;
    
}

.option {
    font-size:20px;
    padding-left:13px;
    padding-right:13px;
}

.save {
    padding-left: 14px;
    padding-right: 14px;
}

.fontSizeValue {
    text-align: center;
    width: 50px;
}

.fontOpacityValue {
    text-align: center;
    width: 60px;
}

.fontSpeedValue {
    text-align: center;
    width: 60px;
}

.fontStyleItalic {
    padding-left: 20px;
    padding-right: 20px;
}

.fontStyleBold {
    padding-left: 20px;
    padding-right: 20px;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.preview {
    width: 280px;
    height: 140px;
}

#previewPanel{
    font-size:30px;
    
}
